/*Подключение шрифтов*/
@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*Общие стили*/

html {
  height: 100%
}

body {
  font-family: "PT sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/*Базовая стилизация*/
.main-index {
  background-color: #ffffff
}

.main-catalog {
  background-color: #ffffff;
}

.page-header {
  background-color: #ffffff;
}

.page-footer {
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.navigation-user-link-favourite-number {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  background-color: #7db54f;
  color: #ffffff;
}

.navigation-button {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #756157;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.navigation-user a {
  text-decoration: none;
}

.hero {
  background-color: #996e72;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat
}

.lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-text {
  text-align: center;
  color: #333333;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-item-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

li.advantages-item-width {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-width h3 {
  color: #ffffff;
}

.infrastructure-lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.infrastructure-text {
  text-align: center;
  color: #333333;
}

.infrastructure-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.infrastructure-item-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.food-icon {
  background-color: inherit;
}
.search {
  text-align: center
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-text {
  text-align: center;
  color: #333333;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.subscribe-text {
  color: #333333;
  text-align: center;
}

.index-subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-color: #3d2f33;
  background-size: cover
}

.index-subscribe h2 {
  color: #ffffff;
}

.index-subscribe p {
  color: #ffffff;
}

.email-input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.subscribe-button {
  font-family: inherit;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border: none
}

.telephone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000
}

.catalog-filter-container {
  background-color: #756a68;
  background-image: url("../images/catalog-background.jpg");
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.site-tree-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
}

.fieldset-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.catalog-filter-submit {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  border: none
}

.catalog-filter-reset {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  color: #ffffff;
  border: none
}

.catalog-hotels-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-hotels-sort {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.catalog-hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.catalog-hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.catalog-hotel-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-hotel-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.catalog-hotel-link {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-hotel-favourite {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7db54f;
  color: #ffffff;
}

.catalog-hotel-favourite-add {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.catalog-hotel-rating {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
}

.pagination-link.current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.interval {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filter-range-control {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

/*Крупные сетки страниц*/
.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto
}

.page-header {
  width: 1200px;
  margin: 0 auto;
}

.page-footer {
  width: 1200px;
  margin: 0 auto
}

.header-wrapper {
  display: flex;
  margin: 0 auto;
  width: 1060px
}

.navigation {
  display: flex;
  margin-right: 20px;
  width: 880px;
  justify-content: space-between;
}

.navigation ul {
  margin: 0;
  padding: 0
}

.navigation-list {
  width: 340px;
  flex-grow: 1;
}

.navigation-user {
  max-width: 180px;
  margin-left: auto;
}

.navigation-logo {
  margin-right: 30px;
}

.navigation-button {
  width: 160px;
  margin-left: auto;
}

.welcome-img {
  display: block;
  margin: 0 auto
}

.advantages-lead-wrapper {
  width: 651px;
  margin: 0 auto
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%
}

.advantages-item {
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box
}

.advantages-item-width-wrapper {
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box
}

.advantages-item-width {
  width: 100%;
  padding: 0
}

.infrastructure-lead-wrapper {
  width: 505px;
  margin: 0 auto
}

.infrastructure-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0
}

.infrastructure-item {
  width: 400px;
  padding-left: 85px;
  padding-right: 85px;
  box-sizing: border-box
}

.search {
  width: 592px;
  margin: 0 auto
}

.subscribe {
  width: 684px;
  margin: 0 auto;
}

.index-subscribe {
  margin: 0;
  padding-left: 258px;
  padding-right: 258px
}

.subscribe-form {
  width: 100%
}

.footer-wrapper {
  padding-left: 70px;
  padding-right: 70px;
  width: 1060px;
  display: flex;
  justify-content: space-between
}

.social-list {
  margin: 0;
  padding: 0;
  width: 142px
}

.telephone {
  width: 720px
}

.catalog-filter-container {
  width: 1060px;
  padding-right: 70px;
  padding-left: 70px
}

.site-tree {
  margin: 0;
  padding: 0;
  display: flex;
  width: 114px;
}

/*
Размеры хлебных крошек
.site-tree-item-home {
  width: 13px;
}

.site-tree-item-catalog {
  width: 73px;
}
*/

.catalog-filter-form {
  display: flex;
}

.catalog-filter-group {
  padding: 0;
  width: 150px;
  margin: 0;
}

.catalog-filter-group-infrastructure {
  margin-right: 70px;
}

.catalog-filter-group-type {
  margin-right: 140px;
}

.catalog-filter-group-price {
  width: 288px;
  margin-right: 70px;
}

.filter-buttons-container {
  width: 191px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0
}

.catalog-hotels {
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-hotels-lead-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog-hotels-title {
  width: 338px;
}

.catalog-hotels-sort {
  width: 292px;
}

.view-buttons {
  width: 160px;
  margin: 0;
  padding: 0;
}

.catalog-hotels-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.catalog-hotel-card {
  width: 340px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
}

.catalog-hotel-card:nth-child(3n) {
  margin-right: 0;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  padding-left: 24px;
  padding-right: 24px;
}

.pagination-text {
  padding-left: 24px;
  padding-right: 24px;
}
/*
Исправление поведения картинок на всякий случай



.advantages-img {
  display: block;
}

.catalog-hotel-card-img {
  display: block;
}
*/
